.quotes_container{
    width: 100vw;
    margin: 5px auto;
    height: 70vh;
    box-sizing: border-box;
    padding:0 10px;
    display: flex;
    color: rgb(68, 60, 60);
    font-family: 'Mate SC';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
.quote{
        font-weight: bold;
}

.author{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.btn_container{
    text-align: center;
}
.btn_container button{
    margin: 5px 10px;
    letter-spacing: .28px;
    padding: 10px 20px;
    font-weight:bold;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    box-shadow: 0 0 10px 5px pink;
}
.btn_container button:focus{
    outline: none;
}